<section id="about">
    <h2>~ About Me ~</h2>
    <p>Hello there!I'M Meghana,I am an enthusiastic engineering student currently pursuing a bachelor of engineering at The National Institute Of Engineering. My academic journey has been fueled by a passion for solving complex problems and designing innovative solutions. With a solid foundation in artificial intelligence and machine learning, I am committed to applying theoretical knowledge to real-world challenges.Thank you for visiting my portfolio. I look forward to connecting with professionals and exploring opportunities that align with my passion for engineering. </p>
    
    </section>